<a href="https://colab.research.google.com/github/Bady9898/R_codes/blob/main/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import python library
import pandas as pd
import numpy as np
#import matplotlib as mpl
#import seaborn as sns

In [ ]:
#Read csv files
df=pd.read_csv("/content/Salaries.csv")

In [ ]:
df

In [ ]:
df.head

In [ ]:
df_first10=df.head(10)

In [ ]:
df_first20= df.head(20)

In [ ]:
df_first30=df.head(30)

In [ ]:
df_first50=df.head(50)

In [ ]:
df_first50

dataframe attributes

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
#1 Number of rows
df.shape[0]

In [ ]:
#2 No. of columns
#df.shape[1] OR
len(df.columns)

In [ ]:
#3 Column names
for col in df.columns:
    print(col)

In [ ]:
#4
df.dtypes

In [ ]:
df.ndim

In [ ]:
df.axes

In [ ]:
df.values

In [ ]:
df.size

Data Frame Models

In [ ]:
df.describe()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.count()

In [ ]:
#1
df.describe(include=[np.number])

In [ ]:
#2 df.apply(pd.DataFrame.describe, axis=1)
df.std

In [ ]:
#3 + chaining of the methods
df_50= df.head(50).mean()
df_50

In [ ]:
#df['salary'] OR
#df.salary OR
df[['salary']]

In [ ]:
df.phd

In [ ]:
#1
df.phd.describe()

In [ ]:
#2
df.phd.count()

In [ ]:
#3
df.phd.mean()

In [ ]:
group=df.groupby(['rank'])

In [ ]:
group

In [ ]:
df.groupby('rank')[['salary']].mean()

In [ ]:
df.groupby('sex')[['salary']].mean()

In [ ]:
#Filter in python
#print rows where salary is more than 120k
df['salary']>120000
#df[df['salary']>120000] only true values will be shown

In [ ]:
df[df['discipline']=="B"]

In [ ]:
df1=df[df['rank']== "Prof"]

In [ ]:
df1

In [ ]:
df1[df1['discipline']=="A"]

In [ ]:
df[(df['discipline']=="B")& (df['rank']=='Prof')]

In [ ]:
#1 df.iloc[0:4 ]
#2 df.iloc[ 2:7 ]
#3 df.iloc[ : ,-3]
#4 df.iloc[1:6, 0:3]

In [ ]:
df[df["phd", "salary"]].agg(['min','mean','max'])

In [ ]:
df